<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Employee App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="showUser()" expand="block" shape="round">
    Call GET API
  </ion-button>
  <ion-button (click)="createUser()" expand="block" shape="round">
    Call POST API
  </ion-button>
  <div *ngFor="let item of userData">
    <div class="container">
      <p>Name</p>
      <p>{{ item.first_name }}</p>
    </div>
    <div class="container">
      <p>Email</p>
      <p>{{ item.email }}</p>
    </div>
  </div>
</ion-content>
